<a href="https://colab.research.google.com/github/AjinJayan/AJ/blob/master/NXP_car.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
data =pd.read_csv("/content/data.csv")
data.head()

      speed     steer  m0_x0  m0_y0  m0_x1  m0_y1  m1_x0  m1_y0  m1_x1  m1_y1
0  0.743291  0.035443      4     52     23      0     70     52     49      0
1  0.743291  0.035443      4     52     23      0     70     52     49      0
2  0.743291  0.035443      4     52     23      0     70     52     49      0
3  0.743291  0.035443      4     52     23      0     70     52     49      0
4  0.743291  0.035443      4     52     23      0     70     52     49      0

In [13]:
target=data.drop(['m0_x0','m0_y0','m0_x1','m0_y1','m1_x0','m1_y0','m1_x1','m1_y1'],axis=1)
features=data.drop(['speed','steer'],axis=1)

In [16]:
X=features.to_numpy()
Y=target.to_numpy()

In [15]:
from keras.models import Sequential
from keras.layers import Dense
from numpy import array
from numpy.random import uniform
from numpy import hstack
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [18]:
in_dim = X.shape[1]
out_dim = Y.shape[1]

In [19]:
xtrain, xtest, ytrain, ytest=train_test_split(X, Y, test_size=0.15)

In [113]:
model = Sequential()
model.add(Dense(64, input_dim=in_dim, activation="relu"))
model.add(Dense(64, activation="relu"))
model.add(Dense(32, activation="relu"))
model.add(Dense(16, activation="relu"))
model.add(Dense(out_dim))
model.compile(loss="mse", optimizer="adam")
 
model.summary()

Model: "sequential_16"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_72 (Dense)             (None, 64)                576
_________________________________________________________________
dense_73 (Dense)             (None, 64)                4160
_________________________________________________________________
dense_74 (Dense)             (None, 32)                2080
_________________________________________________________________
dense_75 (Dense)             (None, 16)                528
_________________________________________________________________
dense_76 (Dense)             (None, 2)                 34
=================================================================
Total params: 7,378
Trainable params: 7,378
Non-trainable params: 0
_________________________________________________________________

In [114]:
model.fit(xtrain, ytrain, epochs=100, batch_size=12, verbose=0)

In [115]:
ypred = model.predict(xtest)
print("y1 MSE:%.7f" % mean_squared_error(ytest[:,0], ypred[:,0])) 
print("y2 MSE:%.7f" % mean_squared_error(ytest[:,1], ypred[:,1]))

y1 MSE:0.0001461
y2 MSE:0.0000494

In [41]:
from numpy import asarray

In [116]:
row = [4,52,23,0,70,52,49,0]
newX = asarray([row])
yhat = model.predict(newX)
print('Predicted: %s' % yhat[0])

Predicted: [0.7503567  0.03833758]

In [117]:
row = [14,52,25,0,72,36,51,0]
newX = asarray([row])
yhat = model.predict(newX)
print('Predicted: %s' % yhat[0])

Predicted: [0.7884265  0.01847727]